/*------------------------------------------------------------------
[Fonts]
*/
/*------------------------------------------------------------------
[Fonts - Raleway]
*/
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/thin/raleway-thin.eot');
  src: url('./styles/fonts/raleway/thin/raleway-thin.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/thin/raleway-thin.woff') format('woff'), url('./styles/fonts/raleway/thin/raleway-thin.ttf') format('truetype'), url('./styles/fonts/raleway/thin/raleway-thin.svg#ralewaythin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/extralight/raleway-extralight.eot');
  src: url('./styles/fonts/raleway/extralight/raleway-extralight.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/extralight/raleway-extralight.woff') format('woff'), url('./styles/fonts/raleway/extralight/raleway-extralight.ttf') format('truetype'), url('./styles/fonts/raleway/extralight/raleway-extralight.svg#ralewayextralight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/light/raleway-light.eot');
  src: url('./styles/fonts/raleway/light/raleway-light.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/light/raleway-light.woff') format('woff'), url('./styles/fonts/raleway/light/raleway-light.ttf') format('truetype'), url('./styles/fonts/raleway/light/raleway-light.svg#ralewaylight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/regular/raleway-regular.eot');
  src: url('./styles/fonts/raleway/regular/raleway-regular.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/regular/raleway-regular.woff') format('woff'), url('./styles/fonts/raleway/regular/raleway-regular.ttf') format('truetype'), url('./styles/fonts/raleway/regular/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/medium/raleway-medium.eot');
  src: url('./styles/fonts/raleway/medium/raleway-medium.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/medium/raleway-medium.woff') format('woff'), url('./styles/fonts/raleway/medium/raleway-medium.ttf') format('truetype'), url('./styles/fonts/raleway/medium/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/semibold/raleway-semibold.eot');
  src: url('./styles/fonts/raleway/semibold/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/semibold/raleway-semibold.woff') format('woff'), url('./styles/fonts/raleway/semibold/raleway-semibold.ttf') format('truetype'), url('./styles/fonts/raleway/semibold/raleway-semibold.svg#ralewaysemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/bold/raleway-bold.eot');
  src: url('./styles/fonts/raleway/bold/raleway-bold.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/bold/raleway-bold.woff') format('woff'), url('./styles/fonts/raleway/bold/raleway-bold.ttf') format('truetype'), url('./styles/fonts/raleway/bold/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/extrabold/raleway-extrabold.eot');
  src: url('./styles/fonts/raleway/extrabold/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/extrabold/raleway-extrabold.woff') format('woff'), url('./styles/fonts/raleway/extrabold/raleway-extrabold.ttf') format('truetype'), url('./styles/fonts/raleway/extrabold/raleway-extrabold.svg#ralewayextrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('./styles/fonts/raleway/heavy/raleway-heavy.eot');
  src: url('./styles/fonts/raleway/heavy/raleway-heavy.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/raleway/heavy/raleway-heavy.woff') format('woff'), url('./styles/fonts/raleway/heavy/raleway-heavy.ttf') format('truetype'), url('./styles/fonts/raleway/heavy/raleway-heavy.svg#ralewayheavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
/*------------------------------------------------------------------
[Fonts - Open Sans]
*/
/* Open Sans Webfont Kit
 * -------------------------- */
/* Light 300
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/light/opensans-light-webfont.eot');
  src: url('./styles/fonts/open-sans/light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/light/opensans-light-webfont.woff') format('woff'), url('./styles/fonts/open-sans/light/opensans-light-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/light/opensans-light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* Light 300 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/light-italic/opensans-light-italic-webfont.eot');
  src: url('./styles/fonts/open-sans/light-italic/opensans-light-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/light-italic/opensans-light-italic-webfont.woff') format('woff'), url('./styles/fonts/open-sans/light-italic/opensans-light-italic-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/light-italic/opensans-light-italic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* Regular 400
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/regular/opensans-regular-webfont.eot');
  src: url('./styles/fonts/open-sans/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/regular/opensans-regular-webfont.woff') format('woff'), url('./styles/fonts/open-sans/regular/opensans-regular-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/regular/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Regular 400 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/italic/opensans-italic-webfont.eot');
  src: url('./styles/fonts/open-sans/italic/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/italic/opensans-italic-webfont.woff') format('woff'), url('./styles/fonts/open-sans/italic/opensans-italic-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/italic/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* Semibold 600
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/semibold/opensans-semibold-webfont.eot');
  src: url('./styles/fonts/open-sans/semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/semibold/opensans-semibold-webfont.woff') format('woff'), url('./styles/fonts/open-sans/semibold/opensans-semibold-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/semibold/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* Semi-Bold 600 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.eot');
  src: url('./styles/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.woff') format('woff'), url('./styles/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* Bold 700
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/bold/opensans-bold-webfont.eot');
  src: url('./styles/fonts/open-sans/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/bold/opensans-bold-webfont.woff') format('woff'), url('./styles/fonts/open-sans/bold/opensans-bold-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/bold/opensans-bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Bold 700 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.eot');
  src: url('./styles/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.woff') format('woff'), url('./styles/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* Extrabold 800
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/extrabold/opensans-extrabold-webfont.eot');
  src: url('./styles/fonts/open-sans/extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/extrabold/opensans-extrabold-webfont.woff') format('woff'), url('./styles/fonts/open-sans/extrabold/opensans-extrabold-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/extrabold/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* Extra-Bold 800 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('./styles/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.eot');
  src: url('./styles/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./styles/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.woff') format('woff'), url('./styles/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.ttf') format('truetype'), url('./styles/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
