.announcement{
    border-top: 1px solid #dcdcdc !important;
}

.announcement .ui.list .list>.item a.header, .ui.list>.item a.header {
    color: #616161 !important;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
}

.announcement .scroller{
    height: calc(100vh - 387px);
}

.announcement .ui.list{
    margin: 0 !important;
}
  

.announcement .ui.list .item{
    padding: 5px 0 !important;
    border-bottom: 1px solid #dcdcdc !important;
}

.announcement .ui.list .item:hover{
    background-color: #e4e4e4 !important;
    cursor: pointer;
}

.announcement .icon{
    padding-top: 4px !important;
    color: #aaaaaa !important;
    font-size: 18pt;
}

.announcement .ui.list .list>.item a:hover.header, .ui.list>.item a:hover.header{
    color: #00853E !important;
}

.announcement .ui.list .list>.item .description, .ui.list>.item .description{
    color: #aaaaaa !important;
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.announcement .ui.list .list>.item a.header, .announcement .ui.list>.item a.header:hover{
    color:#616161 !important;
}
