.connections{
    width:100%;
  }

  .connections .ui.list .item.connections-item {
    padding: 10px !important;
    cursor: default !important;
  }


  .connections .image{
    padding-left: 1px;
  }


  .connections .ui.list .item.connections-item:hover{
    background-color: rgb(242, 242, 242) !important;
  }
  
  .connections .ui.list .header{
    position: absolute;
    padding-top: 4px;
    left: 50px;
    font-family: 'Raleway', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #504e4e !important;
  }
  
  
  .connections .ui.list .description {
    color:  #484747 !important;
  }
  
.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #00853E !important
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #00853E !important
}
