.custom-pusher-visible{
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateX(-250px);
  transition: transform 100ms ease;
}
.custom-pusher-invisible{
  transform: translateX(0);
  transition: transform 200ms ease;
}
