.messages{
  /* height: 200px; */
  max-height: 200px !important;
}
.messages .scroller{
  max-height: 200px !important;
  width: 300px;
}

.messages .ui.list .item {
  padding: 10px !important;
}

.messages .ui.list .image {
  font-size: 15pt;
}

.messages .ui.list .item:hover{
  cursor: pointer;
}


.messages .ui.list .header{
  color: #00853E;
  font-weight: 400 !important;
}

/* .messages .ui.list .item:hover .header,
.messages .ui.list .item:hover .description{
  color: white !important;
} */

.messages .ui.list .description {
  color:  #484747 !important;
}

