/*------------------------------------------------------------------
[Navbar styling]
*/
/* .navigation{
  position: fixed;
  top: 0;
  z-index: 1;
} */

.ui.menu{
  height:80px;
  box-shadow: none;
}
.navigation .ui[class*="top fixed"].menu {
  border-bottom:none;
  position: fixed !important;
  top: 0 !important;
  left: 0;
}

.navigation-visible .ui[class*="top fixed"].menu{
  transform: translateX(-260px);
}

@media (min-width:576px){
  .navigation .ui.menu .header.item.brand-name{
      width:100px;
      background-color: rgb(61,60,60);
      border-bottom: .1px solid rgb(71,70,70);
  }
}

.navigation .ui.menu {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
  background: #00853E;
  border-radius: 0;
}
.navigation .ui.menu .dropdown.item .menu{
  min-width: 100%;
}

.navigation .ui.menu .item:hover{
  cursor: pointer;
} 

.navigation .ui.menu .item:not(.brand-name):hover{
  background: #00853E !important;
}

.navigation .ui.menu .messages-drop .item:not(.messages-drop-title):hover{
  /* background: #00853E !important; */
  background-color: rgb(242, 242, 242) !important;
}

.navigation .ui.menu .active.item:not(.brand-name){
  background: rgb(0, 119, 56) !important;
}

.navigation .ui.menu .active.item.message-dropdown-button{
  background: #00853E !important;
}

.navigation .ui.menu .left{
  margin-left: 20px;
}

.navigation .ui.menu .right{
  margin-right: 20px;
}

.navigation .ui.menu .item, .navigation .ui.menu .active.item>i.icon, .ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover{
  color:#fff;
  font-size:14px;
  font-weight: 500;
}

.navigation .ui.menu .active.item{
    color:#fff;
}

.navigation .ui.menu .item:before{
    display: none;
}


.navigation .ui.dropdown .menu.messages-drop{
  left: -125px;
}

.navigation .ui.menu .dropdown.item .menu.messages-drop:after{
  left: 142px !important;
}

.navigation .ui.dropdown .menu.profile-drop{
  left: -70px;
}

.navigation .ui.menu .dropdown.item .menu.navbar-drop.profile-drop:after{
  left: 147px;
}

.navigation .ui.menu .dropdown.item .menu.navbar-drop {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 3px;
  margin-top: 2px;
  padding: 6px 0;
}


.navigation .ui.menu .dropdown.item .menu.navbar-drop:after,
.navigation .ui.menu .dropdown.item .menu.messages-drop:after{
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -8px;
  content: "";
  display: inline-block;
  left: 42px;
  margin-left: -6px;
  position: absolute;
}

.navigation .ui.dropdown>.dropdown.icon:before{
  content: "\e688";
}

.navigation .message-dropdown-button:hover i.icon{
  color: rgb(255, 255, 100);
}

.navigation .active.item i.message-icon:before{
  color: rgb(255, 255, 100);
}

.navigation i.icon:before{
  font-size:28px;
}

.navigation i.icon{
  padding: 0 25px 26px 0px;
}

.navigation i.icon.reduced-padding-right{
  padding-right: 0px;
}

.navigation .message-dropdown-button {
  width: 44px;
  display: flex;
  justify-content: center;
}

.navigation .profile-button {
  margin-left: 20px;
}

.navigation .trigger-image{
  font-size: 22px;
}

.navigation .ui.menu .ui.dropdown .menu.navbar-drop >.item {
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #504e4e !important;
  padding: 10px 15px !important;
  min-width: 175px;
}

.navigation .ui.menu .ui.dropdown .menu.messages-drop >.item {
  text-align: center;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #504e4e !important;
  padding: 12px 15px !important;
  width: 300px;
}

.navigation .ui.menu .dropdown.item .menu.navbar-drop .item:hover {
  background-color: rgb(242, 242, 242) !important;
}

.navigation .ui.menu .dropdown.item .item.messages-drop-title {
  cursor: default;
  border-bottom: 1px solid #dcdcdc;
}
.navigation .ui.menu .dropdown.item .item.view-all{
  border-top: 1px solid #dcdcdc;
}

.navigation .ui.menu .dropdown.item .item.messages-drop-title:hover {
  background-color: white !important;
}

.navigation .ui.menu .item>.label{
  border-radius: 50%;
  font-weight: 600;
  font-size: 10px;
  line-height: 9px;
  vertical-align: middle;
  margin-left: 4px;
  background-color: #e4e4e4;
  color: #8a8a8a;
  min-width: 17px;
  height: 17px;
  text-align: center;
  padding: 3px;
}
.navigation .ui.mini.image{
  width: 25px
}

/* .navigation .ui.menu .ui.list .list>.item,.navigation .ui.menu div:not(.connections)>.ui.list>.item:first-child{
  background: rgba(0, 160, 72, 0.4);
} */

/* .navigation .ui.menu .ui.list .list>.item, .navigation .ui.menu .ui.list>.item:hover{
  background: rgba(0, 160, 72, 0.4);
} */