.notifications{
  max-height: 200px;
  overflow-y: scroll;
}


.notifications .dropdown .ui.list .list>.item>i.icon, .notifications .ui.list>.item>i.icon {
  color: #0177d7 !important;
}

.notifications .ui.list>.item>i.icon.shade{
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #e4e4e4;
  padding: 10px;
}