.notifications{
  max-height: 200px;
}
.notifications .scroller{
  max-height: 200px !important;
  width: 300px;
}

.notifications .ui.list .item {
  padding: 15px !important;
}

.notifications .ui.list .item:hover{
  cursor: pointer;
}

/* .notifications .ui.list .item:hover i.icon{
  color: white !important;
  background-color: rgb(0, 107, 50) !important;
} */

.notifications .ui.list .item:hover

.notifications .dropdown .ui.list .list>.item>i.icon, .notifications .ui.list>.item>i.icon {
  color: #0177d7 !important;
  /* font-size: 15pt !important; */
}

.notifications .ui.list>.item>i.icon.shade{
  border-radius: 50%;
  background-color: #e4e4e4;
  padding: 6px 8px;
}

.notifications .ui.list .item:hover{
  cursor: pointer;
}

.notifications .ui.list .header{
  color: #00853E;
  font-weight: 400 !important;
}

/* .notifications .ui.list .item:hover .header,
.notifications .ui.list .item:hover .description{
  color: white !important;
} */

.notifications .ui.list .description {
  color:  #484747 !important;
}
