.sidebar-hover{
    display: block;
    position: fixed;
    left: 100px;
    top: 0;
    height: 100%;
    background-color: #484747;
    z-index: 1031;
    padding: 0;
    table-layout: fixed;
    list-style: none;
    width: 280px;
}

.sidebar-hover .title{
    color: #ffffff;
    border-bottom: 1px solid #6d6b6b;
    font-size: 30px;
    font-weight: 300;
    margin: 15px 25px 0;
    padding-bottom: 30px;
    padding-top: 25px;
}

.sidebar-hover .hover-title{
    font-size: 14px;
    font-weight: 400;
    color:  #00853E;
    padding: 10px 25px;
}

.sidebar-hover .hover-title:hover{
    cursor: pointer;
}

.sidebar-hover .item.hover-links{
    padding: 10px 35px;
    color: #b3b3b3;
    font-size: 14px;
    display: block;
    font-weight: 300;
}

.sidebar-hover .item.hover-links:hover{
    cursor: pointer;
}