@media screen and (max-width: 500px){
    .sidebar-left{
        display:none;
    }
}
.sidebar-left{
    width: 100px;
    background-color:rgb(61,60,60);
    height:100%;
    overflow: hidden;
    /* transition: width 0.3s; */
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
}

.sidebar-left .ui.vertical.menu{
    width:100px;
}
    
.sidebar-left .ui.secondary.vertical.pointing.menu{
    border:none;
    height:80px;
}

.sidebar-left .ui.secondary.vertical.pointing.menu .item{
    padding: 21px 0;
    color: #fff;
    text-align: center;
    font-size: 12.5px;
    font-weight: 500;
    margin: 0;
    border-bottom: 1px solid #524f4f;
    border-right: none;
    line-height: .9;
}


.sidebar-left .ui.secondary.vertical.pointing.menu .item:hover{
    color:#fff;
    background-color: rgb(66,65,65);
    padding-right: 2px;
    border-left: 2px solid #00853E;
}

.sidebar-left .ui.dropdown>.text{
    padding-top:10px;
}
.sidebar-left .ui.vertical.menu .dropdown.item>.icon, .sidebar .ui.dropdown>.dropdown.icon:before {
    display:none;
}
.sidebar-left i.icon:before{
    font-size: 33px;
    display: block;
}
.sidebar-left .ui.vertical.menu .dropdown.item .menu{
    min-height: 100vh;
}

.sidebar-left .ui.vertical.menu .item>i.icon{
    width:auto;
    margin:0;
    float: none;
    color:#fff;
}


